
#nav-mobile > li > a{
    color: black;
    border: 20px green;
}
.card{
    width: 30%;
    min-width: 250px;
    margin: 0 auto;
    margin-top: 8%;
}
.login-card{
    width: 80%;
    min-width: 200px;
    text-align: center;
    margin: 0 auto;
    padding: 10% 10% 10% 10%;
}

/*
Profile page CSS
*/

.profile-head{
    margin: 5rem;
}

.profile-pic{
    align-items: center;
    text-align: center;
}

.profile-pic img{
    width: 10rem;
    height: 10rem;
    border-radius: 50rem;
}

.profile-info{
    margin: 6em;
}

.imageGallery{
    padding-top: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imageGallery img{
    padding: 0.8%;
    height: 20rem;
    width: 25rem;
}

.Feed{
    padding: 5rem;
}

.POST{
    height: 50rem;
    text-align: center;
    margin: 20px;
}

.POST img{
    width: 80%;
    height: 80%;
}